/*

  STYLES

  Add custom styles here.

*/


.antialias {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rise {
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  transform: translateY(0px);
}

.rise:hover {
  -webkit-transform: translateY(-3rem);
  -moz-transform: translateY(-3rem);
  -o-transform: translateY(-3rem);
  -ms-transform: translateY(-3rem);
  transform: translateY(-3rem);
}
